<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Music">
    <classes>
      <class name="test.TestNGexp1"/>
       <class name="test.TestNGexp2"/>
    </classes>
    
    </test> <!-- Test -->
   <test name ="Dance">
    <classes>
    <class name="test.TestNGexp3"/>
    </classes>
    
   </test>
</suite> <!-- Suite -->
